body {
    margin: 0;
}

nav {
    background-color: rgb(222, 222, 222);
    margin: 0;
    padding: 12px 0;
}

.tab-nav {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: 60%;
}

.tab-nav>li {
    font-family: sans-serif;
    font-weight: bolder;
    padding: 8px 16px;
    transition: 1s;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgb(183, 183, 183);
    }
}

.tab-nav>li.active {
    background-color: gray;
    color: #fff;
    font-family: none;
}

.tab {
    display: none;
    transition: all 1s;
}


.home {
    color: green;
    border: 1px solid black;
}


.about {
    color: blue;
    border: 1px dotted black;
    width: 60%;
    margin: 10px 0 0 10px;
}

.contact {
    color: purple;
    margin: 0 auto;
    width: 30%;
    border: 3px dotted black;

    & h1 {
        text-align: center;
    }
}

.videos {
    color: orangered;
    border: 2px dashed gray;
    margin: 10px 0 0 10px;
    padding-left: 10px;
    width: 40%;
}